@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/*** Tags ***/
body, html {
	margin: 0;
}

header {
	background: url("../img/header.jpg") center center no-repeat;
	background-size: cover;
	height: 800px;
}

header ul {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

header li {
	display: inline-block;
    padding: 25px 30px;	
    font-family: "poiret one";	
	font-size: 24px;
    color: #fff;
}

header li:hover, .active {
	color: #00CCFF;
	text-transform: uppercase;
}

ul img {
	margin-top: -10px;
}

form label {
	margin-top: 15px;
}

form input, textarea{
	margin-bottom: 25px; 
	max-width: 650px;
}

footer {
	background-color: #19212d;
	height: 90px; 
}

footer div {
	font-family: "poiret one";
	font-size: 18px;
	color: #fff; 
	padding-top: 50px; 
}

/*** Classes ***/
.computing {
	background: url("../img/computing.png") no-repeat center center;
	background-size: cover;
	height: 780px;
}

.computing h2 {
	text-transform: uppercase;
    font-size: 80px;
	color: #fff;
	margin-top: 250px;
	text-align: right;
}

.computing p {
	text-align: right;
	color: #fff;
	font-size: 20px;
}

.contact {
	margin: 0 auto;
	background-color: #e5e5e5; 
}

.contact h2 {
	text-transform: uppercase;
    margin-top: 70px;
	font-size: 32px;
}

.contact button {
	margin: 20px 0;
	padding: 5px 30px;
}

.section {
	background-color: #19212d;
}

.section h2 {
	text-transform: uppercase;
    margin-top: 70px;
	font-size: 32px;
	color: #fff;
}

.section p {
    margin-bottom: 70px;
	color: #fff;
}

.menu {
	background-color: #000;
	opacity: 0.8;
}

/*** Media Queries ***/
@media (max-width: 767px) {	
	.computing h2 {
		margin-top: 120px;
		font-size: 50px;
	}

	.computing p{
		font-size: 18px;
	}

	ul li {
		display: block;
		padding: 10px 0; 
	}

	nav img {
		display: none;
	}
}