@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/*** Tags ***/
body, html {
	margin: 0;
	font-family: poiret one;
}

header {
	background: url("../img/headerbkg.jpg") center center no-repeat;
	background-size: cover;
	height: 582px;
}

header ul {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

header li {
	display: inline-block;
	color: #fff;
	padding: 25px 30px;
	font-size: 24px;
}

nav img {
	position: absolute;
	top: 10px;
	left: 330px;
}

section {
	background-color: #00CCFF;
	height: 300px;
}

section h1 {
	text-transform: uppercase;
}

/*** Classes ***/
.menu {
	background-color: #000;
	opacity: 0.8;
}